@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: 'Corpline';
  src: url('/src/assets/fonts/corpline-demo.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.mask-gradient {
  -webkit-mask-image: linear-gradient(
    to bottom,
    rgba(0,0,0,0) 0%,
    rgba(0,0,0,0.4) 35%,
    rgba(0,0,0,1) 100%
  );
  mask-image: linear-gradient(
    to bottom,
    rgba(0,0,0,0) 0%,
    rgba(0,0,0,0.4) 35%,
    rgba(0,0,0,1) 100%
  );
}

.premium-input {
  width: 100%;
  padding: 18px;
  border-radius: 16px;
  border: 1.5px solid #e5e7eb;
  outline: none;
  font-size: 16px;
  transition: 0.2s ease;
}

.premium-input:focus {
  border-color: #3b82f6;
  box-shadow: 0 0 0 4px rgba(59,130,246,0.15);
}


.custom-scroll::-webkit-scrollbar {
  width: 6px;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background: #2563eb;
  border-radius: 999px;
}

.custom-scroll::-webkit-scrollbar-track {
  background: #e5e7eb;
  border-radius: 999px;
}